{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <div class="post">
          <div class="card">
            <div class="card-header">
              Тестовая новость в блоге!
            </div>
            <div class="card-body">
              <h5 class="card-title">Большой заголовок!</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <hr>
              <div class="post-info">
                <span class="post-date">Опубликовано: 02/06/2019</span>
                <div class="post-read">
                  <a href="index.html" class="btn btn-sm btn-dark">Вернуться к постам</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}