{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Введите поисковой запрос</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-dark btn-block">Найти</button>
        </form>
      </div>
    </div>

{% endblock %}