<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}

        {% if title %}
            <title>Flask - {{ title }}</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}

    {% endblock title %}

</head>
<body>
<div class="wrapper">
    {% block menu %}
    <div class="header">
        <ul class="main_menu">
            <li><a href="#"><p>Головна</p></a></li>
            <li><a href="#"><p>Блог</p></a></li>
            <li><a href="#"><p>Реєстрація</p></a></li>
            <li><a href="#"><p>Логін</p></a></li>
            <li><a href="#"><p>Акаунт</p></a></li>
            <li><a href="#"><p>Створити</p></a></li>
            <li><a href="#"><p>Вийти</p></a></li>
        </ul>
    </div>
    {% endblock  %}

    {% block content %}

    {% endblock  %}

    {% block mainpage %}
    <div class="content">

    </div>
    {% endblock  %}

    {% block footer %}
        <footer class="footer">
            Всі права захищено<br>
            &#169 Сапаль Стас
        </footer>
    {% endblock  %}
</div>
</body>
</html>